@media (min-width: 1200px) {
    .u-block-2866-2 {
      min-height: 842px;
    }
    .u-block-2866-6 {
      margin-top: 63px;
      margin-bottom: 60px;
      min-height: 719px;
    }
    .u-block-2866-20 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-22 {
      font-size: 1rem;
    }
    .u-block-2866-26 {
      width: 100px;
    }
    .u-block-2866-31 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-33 {
      font-size: 1rem;
    }
    .u-block-2866-37 {
      width: 100px;
    }
    .u-block-2866-42 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-44 {
      font-size: 1rem;
    }
    .u-block-2866-48 {
      width: 100px;
    }
    .u-block-2866-58 {
      padding-top: 10px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-left: 14px;
    }
    .u-block-2866-90 {
      font-weight: 700;
    }
    .u-block-2866-81 {
      font-weight: 700;
    }
    .u-block-2866-83 {
      font-weight: 700;
    }
    .u-block-2866-84 {
      font-weight: 700;
    }
    .u-block-2866-89 {
      margin-top: 20px;
    }
  }@media (max-width: 1199px) and (min-width: 992px) {
    .u-block-2866-2 {
      min-height: 842px;
    }
    .u-block-2866-6 {
      margin-top: 63px;
      margin-bottom: 60px;
      min-height: 719px;
      height: auto;
    }
    .u-block-2866-20 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-22 {
      font-size: 1rem;
    }
    .u-block-2866-26 {
      width: 100px;
    }
    .u-block-2866-31 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-33 {
      font-size: 1rem;
    }
    .u-block-2866-37 {
      width: 100px;
    }
    .u-block-2866-42 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-44 {
      font-size: 1rem;
    }
    .u-block-2866-48 {
      width: 100px;
    }
    .u-block-2866-58 {
      padding-top: 10px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-left: 14px;
    }
    .u-block-2866-90 {
      font-weight: 700;
    }
    .u-block-2866-81 {
      font-weight: 700;
    }
    .u-block-2866-83 {
      font-weight: 700;
    }
    .u-block-2866-84 {
      font-weight: 700;
    }
    .u-block-2866-89 {
      margin-top: 20px;
    }
  }@media (max-width: 991px) and (min-width: 768px) {
    .u-block-2866-2 {
      min-height: 842px;
    }
    .u-block-2866-6 {
      margin-top: 63px;
      margin-bottom: 60px;
      min-height: 719px;
      height: auto;
    }
    .u-block-2866-20 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-22 {
      font-size: 1rem;
    }
    .u-block-2866-26 {
      width: 100px;
    }
    .u-block-2866-31 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-33 {
      font-size: 1rem;
    }
    .u-block-2866-37 {
      width: 100px;
    }
    .u-block-2866-42 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-44 {
      font-size: 1rem;
    }
    .u-block-2866-48 {
      width: 100px;
    }
    .u-block-2866-58 {
      padding-top: 10px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-left: 14px;
    }
    .u-block-2866-90 {
      font-weight: 700;
    }
    .u-block-2866-81 {
      font-weight: 700;
    }
    .u-block-2866-83 {
      font-weight: 700;
    }
    .u-block-2866-84 {
      font-weight: 700;
    }
    .u-block-2866-89 {
      margin-top: 20px;
    }
  }@media (max-width: 767px) and (min-width: 576px) {
    .u-block-2866-2 {
      min-height: 842px;
    }
    .u-block-2866-6 {
      margin-top: 63px;
      margin-bottom: 60px;
      min-height: 719px;
      height: auto;
    }
    .u-block-2866-20 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-22 {
      font-size: 1rem;
    }
    .u-block-2866-26 {
      width: 100px;
    }
    .u-block-2866-31 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-33 {
      font-size: 1rem;
    }
    .u-block-2866-37 {
      width: 100px;
    }
    .u-block-2866-42 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-44 {
      font-size: 1rem;
    }
    .u-block-2866-48 {
      width: 100px;
    }
    .u-block-2866-58 {
      padding-top: 10px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-left: 14px;
    }
    .u-block-2866-90 {
      font-weight: 700;
    }
    .u-block-2866-81 {
      font-weight: 700;
    }
    .u-block-2866-83 {
      font-weight: 700;
    }
    .u-block-2866-84 {
      font-weight: 700;
    }
    .u-block-2866-89 {
      margin-top: 20px;
    }
}
 @media (max-width: 575px) {
    .u-block-2866-2 {
      min-height: 842px;
    }
    .u-block-2866-6 {
      margin-top: 63px;
      margin-bottom: 60px;
      min-height: 719px;
      height: auto;
    }
    .u-block-2866-20 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-22 {
      font-size: 1rem;
    }
    .u-block-2866-26 {
      width: 100px;
    }
    .u-block-2866-31 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-33 {
      font-size: 1rem;
    }
    .u-block-2866-37 {
      width: 100px;
    }
    .u-block-2866-42 {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .u-block-2866-44 {
      font-size: 1rem;
    }
    .u-block-2866-48 {
      width: 100px;
    }
    .u-block-2866-58 {
      padding-top: 10px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-left: 14px;
    }
    .u-block-2866-90 {
      font-weight: 700;
    }
    .u-block-2866-81 {
      font-weight: 700;
    }
    .u-block-2866-83 {
      font-weight: 700;
    }
    .u-block-2866-84 {
      font-weight: 700;
    }
    .u-block-2866-89 {
      margin-top: 20px;
    }
  }